<a href="https://colab.research.google.com/github/fahizk7/rainbow/blob/main/Untitled3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
x="--------he-----llo------"
print(x.replace("-","+"))

++++++++he+++++llo++++++

qqq
ooooo
ab
 qqq ooooo

In [ ]:
n=int(input())
sum=0
if(n>2):
  for i in range(2,n):
      flag=False
      for j in range(2,i):
          if(i%j==0):
              flag=True
      if(flag==False):
          sum=sum+i
elif(n==2):
  print(2)  
else:          
print(sum)

0

In [ ]:
n=input().split(',')
l=[]
k=0
for i in n:
    l=[i]+l
print(l)   
for i in l:
  print(i,end='') 
  k=k+1
  if(k<len(l)):
    print(',',end='')

one,two,three
['three', 'two', 'one']
three,two,one

In [ ]:
n=int(input())
matrix=[]
l=[]
for i in range(n):
  
  for j in range(n):
    a=int(input())
    l.append(a)


print(matrix)

2
2
3
4
5
[2, 3, 4, 5]

In [ ]:
n=int(input())
m=[]
for i in range(n):
  l=[]
  for j in range(n):
    if (i==j):
      l.append(1)
    else:
      l.append(0) 
  m.append(l)    

for i in m:
  c=0
  for j in i:
    k=int(j)
    c=c+1
    print(k,end='')
    if(c<n):
      print('',end=',')
    else:
      print('')

3
1,0,0
0,1,0
0,0,1

In [ ]:
n=int(input())
m=[]
for i in range(n):
  a=input().split(' ')
  l=[]
  for j in a:
    k=int(j)
    l.append(k)
  m.append(l)  

x=int(input())
for i in m:
  l=[]
  for j in i:
    j=int(j)
    d=2*j
    l.append(d)
  m.append(l)

print(m)

2
1 2
3 4
2

In [5]:
def factorial(n):
    if(n<0):
        return(-1)
    else:
        if(n==0):
            return(1)
        else:
            fact=factorial(n-1)*n
        return(fact)

print(factorial(3))

6

In [12]:
def factorial(n):
  fact=1
  if(n<0):
        return(-1)
  elif(n==0):
      return(1)
  else:
      for i in range(1,n+1):
        fact=fact*i

      return(fact)  


print(factorial(5))

120